<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/lib/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/lib/feather-icons/dist/feather.min.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">Sun-App</a>
                <form class="d-flex" action="@Url.Action("Index", "Home")">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchTerm">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>

    <div class="container">
        
        @RenderBody()
    </div>

    <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">© 2022 SunApp Service, Inc</p>

        <a class="navbar-brand">Sun-App</a>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
    </footer>
    <script>
        feather.replace()
    </script>
</body>
</html>
